.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-maroon);
  width: 376px;
  height: 494px;
}
.rectangle-icon {
  position: absolute;
  top: 10.43px;
  left: 13.09px;
  width: 350.75px;
  height: 237.04px;
  object-fit: cover;
}
.plannd-a-mobile1 {
  position: absolute;
  top: 247.47px;
  left: 17.77px;
  display: inline-block;
  width: 294.63px;
  height: 83.44px;
}
.rectangle-group {
  position: absolute;
  top: 485px;
  left: 70px;
  width: 376px;
  height: 494px;
}
.desktop-11 {
  position: relative;
  background-color: var(--color-ivory);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-average);
}
